<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>竞拍者注册</title>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/jq_ajax_config.js"></script>
	</head>
	<style type="text/css">
		body {
			background: url(img/4fcdd39f657f8.jpg);
			background-repeat: no-repeat; //不重复
			background-size: 100% 100%; // 满屏
			text-align: center;
		}
		/*.el-col {
			margin: 0px auto;
		}*/
		
		[class*=el-col-] {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		[v-cloak] {
			display: none;
		}
	</style>

	<body>
		<div id="zhuce" v-cloak>
			<el-container style="width:30%;margin-left:35%;margin-top:5%;background: white;">
				<el-header>
					<h1 style="color: #E6A23C;padding-left:3ex;">竞拍者注册</h1>
				</el-header>
				<el-main>
					<el-col :span="18" :offset="2">
						<el-form label-position="left" :model="user" ref="user" :rules="rules" label-width="80px">
							<el-form-item size="mini" label="用户名" prop="uname">
								<el-col>
									<el-input size="mini" v-model="user.uname" placeholder="请输入用户名" autocomplete="off"></el-input>
								</el-col>
							</el-form-item>
							<el-form-item size="mini" label="密码" prop="upwd">
								<el-col>
									<el-input size="mini" type="password" v-model="user.upwd" placeholder="请输入密码"></el-input>
								</el-col>
							</el-form-item>
							<el-form-item size="mini" label="身份证号" prop="uidcard">
								<el-col>
									<el-input size="mini" v-model="user.uidcard" placeholder="请输入身份证号"></el-input>
								</el-col>
							</el-form-item>
							<el-form-item size="mini" label="电话" prop="uphone">
								<el-col>
									<el-input size="mini" v-model="user.uphone" placeholder="请输入电话号码"></el-input>
								</el-col>
							</el-form-item>
							<el-form-item size="mini" label="住址" prop="uaddress">
								<el-col>
									<el-input size="mini" v-model="user.uaddress" placeholder="请输入住址"></el-input>
								</el-col>
							</el-form-item>
							<el-form-item size="mini" label="邮政编码" prop="upost">
								<el-col>
									<el-input size="mini" v-model="user.upost" placeholder="请输入邮政编码"></el-input>
								</el-col>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" @click="reg">注册</el-button>
								<el-button type="danger" @click="cancel">取消</el-button>
							</el-form-item>
						</el-form>
					</el-col>
					<el-col :span="8"></el-col>
				</el-main>
			</el-container>
		</div>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script>
		//自定义规则
		var validateUname = (rule, value, callback) => {
			$.getJSON(`http://127.0.0.1:8080/api/user/provingByName`, {
				"userName": value
			}, function(res) {
				if(res != 0) {
					callback(new Error('用户名已被使用'));
				} else {
					callback();
				}
			})
		}
		var  validateUpwd= (rule, value, callback) => {
			$.getJSON(`http://127.0.0.1:8080/api/user/provingByIdCard`, {
				"idCard": value
			}, function(res) {
				if(res != 0) {
					callback(new Error('改身份证已被注册'));
				} else {
					callback();
				}
			})
		}
		var Main = new Vue({
			el: "#zhuce",
			data: {
				user: {
					uname: "",
					upwd: "",
					uidcard: "",
					uphone: "",
					uaddress: "",
					upost: ""
				},
				rules: {
					uname: [{
							min: 6,
							required: true,
							message: "用户名要求不低于6个字符",
							trigger: "blur"
						},
						{
							validator: validateUname,
							trigger: "blur"
						}
					],
					upwd: [{
						min: 6,
						required: true,
						message: "密码要求不低于6个字符",
						trigger: "blur"
					}],
					uidcard: [{
						required: true,
						message: "身份证号必填",
						trigger: "blur"
					}, {
						validator: validateUpwd,
						trigger: "blur"
					}],
					uphone: [{
						required: true,
						message: "电话号码必填",
						trigger: "blur"
					}],
					uaddress: [{
						required: true,
						message: "住址必填",
						trigger: "blur"
					}],
					upost: [{
						required: true,
						message: "邮政编码必填",
						trigger: "blur"
					}],
				}
			},
			methods: {

				reg() {
					let  _this = this;
					this.$refs['user'].validate(valid => {
						if(valid) {
							//验证通过
							//自定义加载块
							const loading = this.$loading({
								lock: true,
								text: '努力更新中....',
								spinner: 'el-icon-loading',
								background: 'rgba(0, 0, 0, 0.5)'
							});
							//延迟2秒，模拟网络延迟
							setTimeout(() => {
								loading.close(); //关闭加载块【非常重要】	
								$.ajax('http://127.0.0.1:8080/api/user/register', {
									type: 'post',
									data: JSON.stringify(this.user),
									dataType: 'json',
									contentType: 'application/json',
									success(msg) {
										if(msg!=0) {
											loading.close(); //关闭加载块【非常重要】
											_this.$alert('注册成功！', '系统提示');
											setTimeout(() => {location.href = 'glylogin.html';},1000)
											// _this.clearData(); //清除数据
										}
									}
								});
							}, 2000);
						} else {
							//验证失败
							this.$alert('请按格式正确填写信息', '系统提示');
						}
					})
				},
				cancel() {
					location.href = 'glylogin.html';
				}
			}
		});
	</script>

</html>