<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>无标题文档</title>
	</head>

	<body>
		<div id="zhuyeApp">

			<el-form :inline="true" id="myForm" name="queryForm" :model="ware" style="text-align: center;">
				<el-form-item label="名称:">
					<el-col style="width:120px;">
						<el-input size="mini" placeholder="请输入名称" v-model="ware.warname" clearable>
					</el-col>
				</el-form-item>
				<el-form-item label="描述:">
					<el-col style="width:120px;">
						<el-input size="mini" placeholder="请输入描述" v-model="ware.depict" clearable>
					</el-col>
				</el-form-item>
				<el-form-item label="开始时间:">
					<el-col style="width:150px;">
						<el-date-picker size="mini" value-format="yyyy-MM-dd" format="yyyy-MM-dd" style="width: 150px;" v-model="ware.starttime" type="date" placeholder="开始时间">
					</el-col>
				</el-form-item>
				<el-form-item label="结束时间:">
					<el-col style="width:150px;">
						<el-date-picker size="mini" value-format="yyyy-MM-dd" format="yyyy-MM-dd" style="width: 150px;" v-model="ware.endtime" type="date" placeholder="结束时间">
					</el-col>
				</el-form-item>
				<el-form-item label="起拍价:">
					<el-col style="width:100px;">
						<el-input size="mini" maxlength="8" placeholder="请输入价格" v-model="ware.startprice">
					</el-col>
				</el-form-item>
				<el-form-item>
					<el-col style="width:100px;">
						<el-button size="mini" type="primary" @click="loadData">搜索</el-button>
					</el-col>
				</el-form-item>
			</el-form>
			<div v-loading="loading">
				<el-table :data="pageinfo.list" border style="width: 100%">
					<el-table-column prop="warname" label="名称" width="180" align="center">
					</el-table-column>
					<el-table-column prop="depict" label="描述" width="180" align="center">
					</el-table-column>
					<el-table-column prop="starttime" label="开始时间" align="center">
					</el-table-column>

					<el-table-column prop="endtime" label="结束时间" align="center">
					</el-table-column>
					<el-table-column prop="startprice" label="起拍价" align="center">
					</el-table-column>
					<el-table-column label="操作" align="center">
						<template slot-scope="temp">
							<el-button size="mini" type="danger" @click="goodsJP(temp.row.wareid)">竞拍</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div style="text-align: center;" v-if="pageinfo.list.length!=0">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :page-sizes="[5,10,15,20]" :page-size="pageinfo.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageinfo.total">
					</el-pagination>
				</div>

			</div>
		</div>

	</body>
	<script>
		var app = new Vue({
			data: {
				loading: true,
				ware: {
					warname: '',
					depict: '',
					starttime: '',
					endtime: '',
					startprice: '',
					state: 1
				},
				currentPage: "1",
				pageSize: "5",
				pageinfo: []
			},
			methods: {
				handleSizeChange(val) {
					this.pageSize = val;
					this.loadData();
				},
				handleCurrentChange(val) {
					this.currentPage = val;
					this.loadData();
				},
				/*竞拍页面*/
				goodsJP(id) {
					window.sessionStorage.setItem("id",id);
					$("#cnt").load("goodsJP.html");
				},
				loadData() {
					let _this = this;
					_this.loading = true;
					$.post(`http://127.0.0.1:8080/api/wares/queryTerm`, {
						warname: _this.ware.warname,
						depict:  _this.ware.depict,
						starttime:  _this.ware.starttime,
						endtime:  _this.ware.endtime,
						startprice:  _this.ware.startprice,
						state:1,
						"currentPage": _this.currentPage,
						"pageSize": _this.pageSize
					}, function(res) {
						_this.pageinfo = res;
						setTimeout(() => {
							_this.loading = false;
						}, 1000);
					}, "json")
				}
			},
			mounted() {
				this.loadData();
				setTimeout(() => {
					this.loading = false;
				}, 1000);
			}
		}).$mount("#zhuyeApp");
	</script>

</html>