<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>无标题文档</title>
		<link href="../css/common.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../css/index.css" />
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<div class="wrap" style="width: 400px;" id="loginApp">
			<h2  style="margin-top:60px;">管理员登录</h2>
			<!-- main begin-->
			<el-form label-position="right" :model="user" label-width="80px">
				<el-form-item label="用户名:">
					<el-input v-model="user.name" placeholder="常用邮箱" style="width: 300px;"></el-input>
				</el-form-item>
				<el-form-item label=" 密 码: ">
					<el-input v-model="user.pwd " placeholder="密码 " style="width: 300px;"></el-input>
				</el-form-item>
				<el-form-item>
					<el-checkbox-group v-model="user.status">
						<el-checkbox label="下次自动登录" name="type"></el-checkbox>
					</el-checkbox-group>
				</el-form-item>
				<el-form-item>
					<el-button type="primary " @click=" ">登录</el-button>
					<el-button type="primary " @click=" ">注册</el-button>
					<a href="javaacript:void(0)">忘记密码</a>
				</el-form-item>
			</el-form>

		</div>
		<script type="text/javascript " src="../js/jquery-1.12.4.js "></script>
		<script type="text/javascript " src="../js/vue.js "></script>
		<script type="text/javascript " src="../js/index.js "></script>
		<script>
			var app = new Vue({
				data: {
					user: {
						name: '',
						pwd: '',
						status: ''
					}
				}

			}).$mount("#loginApp ");
		</script>
	</body>

</html>