<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>北大青鸟办公自动化管理系统</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../css/index.css" />
		<style>
			.logo {
				background-color: transparent;
				background: url('../images/Top_bg.gif') repeat-x;
				width: 100%;
				position: relative;
				height: 88px;
			}
			
			.logo>img {
				position: absolute;
				bottom: 3px;
				left: 200px;
			}
			
			* {
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div id="MenuApp">
			<el-container style='height:95vh'>
				<el-header style="padding: 0;height: 130px;border-bottom: 1px gainsboro solid;">
					<div class="logo"><img src="../images/logo.gif"></div>
					<h3 style="text-align: center;margin:  0;">
						【登录角色：{{user.positionName}}】 <el-button type="text" @click="exit">退出登录</el-button> 
						<span style="color: red;margin-left: 20px;">{{user.employeename}}</span> 你好！欢迎访问青鸟办公管理系统！
						</h3>
				</el-header>
				<el-container>
					<el-aside width="250px" style="border: 1px  solid ghostwhite;margin: 20px;border-radius: 20px;">
						<el-menu style="border-right:0">
							<el-submenu index="1">
								<template slot="title">
									<i class="el-icon-tickets"></i>
									<span>报销单管理</span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="1-2" @click="showView('addReimburse.html')"><i class="el-icon-tickets"></i>新增报销单</el-menu-item>
									<el-menu-item index="1-1" @click="showView('showReimburse.html')"><i class="el-icon-tickets"></i>查看报销单</el-menu-item>
								</el-menu-item-group>
							</el-submenu>
							<el-submenu index="2">
								<template slot="title">
									<i class="el-icon-receiving"></i>
									<span>请假管理</span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="2-2" @click="showView('addLeave.html')"><i class="el-icon-receiving"></i>请假</el-menu-item>
									<el-menu-item index="2-1" @click="showView('showLeave.html')"><i class="el-icon-receiving"></i>查看请假</el-menu-item>
								</el-menu-item-group>
							</el-submenu>
							<el-submenu index="3" v-if="user.positionid!=2&&user.positionid!=4&&user.positionid!=5">
								<template slot="title">
									<i class="el-icon-coin"></i>
									<span>统计报表</span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="3-2" @click="showView('MonthList.html')"><i class="el-icon-coin"></i>报销单月度统计</el-menu-item>
									<el-menu-item index="3-1" @click="showView('YearList.html')"><i class="el-icon-coin"></i>报销单年度统计</el-menu-item>
								</el-menu-item-group>
							</el-submenu>
							<el-submenu index="4">
								<template slot="title">
									<i class="el-icon-chat-dot-round"></i>
									<span>信息中心</span><span v-if="numbers!=0" style="position: relative;left:50px;color: red;"><span class="showNumber">{{numbers}}</span></span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="4-2" @click="showView('addShop.html')"><i class="el-icon-chat-dot-round"></i>信息收件箱 <span v-if="numbers!=0" style="position: relative;left:50px;color: red;"><span class="showNumber">{{numbers}}</span></span></el-menu-item>
								</el-menu-item-group>
							</el-submenu>

						</el-menu>
					</el-aside>
					<el-main style="border-left: 1px ghostwhite solid;">
						<div id="cnt"></div>
					</el-main>
				</el-container>
				<el-footer style="text-align: center;">Copyright &nbsp; © &nbsp; 北大青鸟</el-footer>
			</el-container>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script type="text/javascript" src="../js/echarts.js" charset="UTF-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			data: {
				user: JSON.parse(window.sessionStorage.getItem("user")),
				numbers: "0"
			},
			methods: {
				showView(url) {
					$('#cnt').load(url);
				},
				exit() {
					this.$confirm('退出登录, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.post(`http://127.0.0.1:8080/projectFour/c/Employee/extis`, function(res) {
							location.href = "login.html";
						})
					});
				},
				setMessageInnerHTML(dataSour) {
					let _this = this;
					//alert(dataSour.user);
					$.getJSON(`http://127.0.0.1:8080/projectFour/api/mess/query`, {
						"userid": dataSour.user
					}, function(res) {
						if(res != "") {
							_this.numbers = res.length;
						}
					})
				}
			},
			mounted() {
				this.setMessageInnerHTML({
					"user": this.user.employeeid,
					"type": 0
				});
				this.showView("welcome.html");
			}
		}).$mount("#MenuApp");

		//读取配置文件获取webSocketurl
		var websocket = null;
		//判断当前浏览器是否支持WebSocket
		if('WebSocket' in window) {
			//192.168.43.120
			websocket = new WebSocket("ws://127.0.0.1:8080/projectFour/websocket/" + app.user.employeeid);
		} else {
			alert('当前浏览器 Not support websocket');
		}

		//连接发生错误的回调方法
		websocket.onerror = function() {
			//alert("失败");
		};

		//连接成功建立的回调方法
		websocket.onopen = function() {
			//alert("成功");
		}

		//接收到消息的回调方法
		websocket.onmessage = function(event) {
			//业务处理逻辑
			//alert(event.data);
			$.getJSON(`http://127.0.0.1:8080/projectFour/api/mess/query`, {
				"userid": JSON.parse(event.data).user
			}, function(res) {
				if(res != "") {
					$(".showNumber").html(res.length);
				}
			})
		};

		//连接关闭的回调方法
		websocket.onclose = function() {
			/*  setMessageInnerHTML("WebSocket连接关闭"); */
			window.clearInterval(timer);
		}

		//监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
		window.onbeforeunload = function() {
			closeWebSocket();
		}

		//关闭WebSocket连接
		function closeWebSocket() {
			websocket.close();
		}
		//发送消息
		function send(param) {
			websocket.send(JSON.stringify(param));
		}
	</script>

</html>